@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
}

body.greenScreen {
  background-color: #00ff00;
  background-image: none;
}

/* Visualizer scrollbar styles */
.visualizer-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.visualizer-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.visualizer-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #2563eb, #0891b2);
  border-radius: 10px;
}

.visualizer-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #1d4ed8, #0e7490);
}
